{% load staticfiles %}

<html>
    <head>
        <title>Troydit</title>
        <link rel="stylesheet" href="{% static 'css/troydit.css' %}">

    </head>
    <body>
        <h1>Troydit</h1>
        <nav>
            <a href="/">Posts</a>
            <div class="user-info">
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}
                    <a href="{% url 'logout' %}">Signout</a>
                    <a href="{% 'user_detail' pk=user.pk% }">My Account</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Signup</a>
                {% endif %}
            </div>
        </nav>
        <hr />
        {% block content %}
        {% endblock %}
    </body>
    <hr />
    <footer>Troydit</footer>
</html>

